* {
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner {  
    animation: rotate 1.5s infinite linear;
}

.list {
    list-style: none;
}

.dot {
    position: absolute;
    top: -40px;
    left: -40px;
}

.list li:nth-child(1){
    transform: rotate(85deg);
}

.list li:nth-child(2){
    transform: rotate(125deg);
}

.list li:nth-child(3){
    transform: rotate(165deg);
}
.list li:nth-child(4){
    transform: rotate(205deg);
}
.list li:nth-child(5){
    transform: rotate(245deg);
}
.list li:nth-child(6){
    transform: rotate(285deg);
}
.list li:nth-child(7){
    transform: rotate(325deg);
}
.list li:nth-child(8){
    transform: rotate(365deg);
}
.list li:nth-child(9){
    transform: rotate(405deg);
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}